.form-group{
    border-radius: 4px;
    padding: 0.7em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    
}

.form-group label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}

.form-group input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    border-radius: 5px;
    border:2px solid #F25D27;
}

input.valid{
    border:2px solid #5BBE36;
    border-radius: 5px;
}

input.invalid{
    border:2px solid #DD2626;
    border-radius: 5px;
}

.error{
    color: #DD2626;
}

button{
    padding: 0.3em 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #17736A;
    color: black;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.hide {
    display: none;
}

