/* ---------------MOBILE FIRST-------------------- */

.wrapper{
    /* to fix footer at bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header.App-header {
    background-color: #F28D35;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}
/* ---------Animering header text---------- */
header h1{
    letter-spacing: 0.3em;
    padding: 2em 1em 2em 1em;
    position: relative;
    display: flex;
}
header h1:before{
    content: "Fab hamster Wars";
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	max-width: 600px;
	color: transparent;
	letter-spacing: 10px;
	text-shadow: none;
}
header:hover h1:before{
    transition: 0.6s ease;
	color: black;
	animation: jump-out 1s ease forwards;
}
@keyframes jump-out {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
/* ----------------------------------------------- */
main{
    padding: 3em 3em 3em 3em;
    flex: 1;
}
header nav{
    display: flex;
    flex-direction: row;
}
header nav a{
    position: relative;
    color:black;
    padding: 0.2em;
    flex: 1 1 auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px 5px 0px 0px;
}
header nav a:hover{
    transform: scale(1.1, 1.1);
}

header nav a.active{
    background-color:#F25D27;
    border-bottom: none;
}

footer{
    background-color:  #F28D35;
    height: 3em;
    bottom:0;
    width:100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

h1{
    font-family: 'Abril Fatface', cursive;
}
p {
    font-family: 'Raleway', sans-serif; 
}
h3{
    font-family: 'Raleway', sans-serif; 
}
/*---------Media queries-"Ipad"-------------*/
@media only screen and (min-width: 425px){
    main{
        padding: 3em 3em 3em 3em;
    }
}

/* ---------------LARGER TABLETS AND DESKTOP------------------------ */

@media only screen and (min-width: 600px){
    main{
        padding: 3em 10em 3em 10em;
    }
}


/* font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; */